body {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    background: #111;
    animation: fadeIn 3s;
}

nav {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
}

.bg-image {
    position: absolute;
    inset: 0;
    background: url("https://www.phoenixthrush.com/assets/images/background.webp") center/cover;
    filter: brightness(50%);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container p {
    font-size: calc(1em + 1vmin);
    letter-spacing: 0.2em;
    padding-left: 0.2em;
}

.container hr {
    background: white;
    animation: grow 2s forwards;
    border: none;
    height: 1px;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #333;
    min-width: 150px;
    top: 100%;
    right: 0;
    border-radius: 10%;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s;
}

.dropdown-content a:hover {
    background: #444;
    border-radius: 10px;
}

#dropdown-checkbox:checked~.dropdown-content {
    display: block;
}

#copyright {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 0.85em;
}

#moe-counter {
    position: absolute;
    bottom: 15px;
    height: 75px;
}

@keyframes grow {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    #moe-counter {
        height: 50px;
        left: 15px;
    }
}